.card-content a {
    color: #3f51b5 !important;
}

a.waves-light {
    color: white !important;
}

.is-invalid, .invalid-feedback {
    border-color: red !important;
}

.alert-danger, .invalid-feedback {
    font-size: 85%;
    color: red;
}

.card .card-content p {
    font-size: 15px !important;
}
.paginate nav{
    background: none!important;
    box-shadow: none!important;
}
.paginate .page-footer, .pagination li.active{
    background: none!important;
    color: black!important;
}
.category_li{
    border-bottom: 1px solid #ccc;
    display: flex;
    overflow: hidden;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content:space-between;
}
.row-flex-center{
    display: flex;
    justify-content: end;
}
.row-flex-center img{
    max-width: 150px;
}
.category_ul ul{

}
.p-0{
    padding: 0!important;
}

